
<%= form_for @post,:validate => true do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
    <div class="form-group">
      <%= f.label :title, :class=> "control-label" %>
      <%= f.text_field :title, :class=> 'form-control' %>
    </div>
  

    <p>
    <%= f.label :date %><br>
    <%= f.date_field :date, :class=> 'form-control' %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text, :class=> 'form-control', :rows => 5 %>
  </p>

   <p>
    <%= f.label :author %><br>
    <%= f.text_field :author, :class=> 'form-control' %>
  </p>
 
 
  <p>
    <%= f.submit "Update", :class=>'btn btn-default' %>
  </p>


<% end %>


