
<%= form_for @post,:validate => true do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
    <div class="form-group">
      <%= f.label :Headline, :class=> "control-label" %>
      <%= f.text_field :title, :class=> 'form-control' %>
    </div>
  

    <p>
    <%= f.label :Categories_of_Information %><br>
   

  <%= f.select(:category, options_for_select([['Latest News', 'Latest News'], ['Resources', 'Resources'], ['Need Help', 'Need Help']])) %>
 
    
    
   <!--  <%= f.text_field :category, :class=> 'form-control' %> -->
    
  </p>
 
  <p>
    <%= f.label :Content %><br>
    <%= f.text_area :text, :class=> 'form-control', :rows => 5 %>

  </p>

   <p>
    <%= f.label :author %><br>
    <%= f.text_field :author, :class=> 'form-control' %>
  </p>
 
 
  <p>
    <%= f.submit "Update", :class=>'btn btn-default' %>
  </p>


<% end %>


