<h1>Emergency Posts</h1>
 <%= link_to 'New Post', new_post_path %>


<% @posts.each do |post| %>
  <section>
    <header>
      <h1><%= post.title %></h1>
    </header>
    <article>
      <p> <%= post.text %> </p>
      <p> by <%= post.author %> </p>
    </article>
    <footer>
      <%= link_to 'Show', post_path(post), :class=> 'btn btn-success' %>
      <%= link_to 'Edit', edit_post_path(post), :class=> 'btn btn-primary' %>
      <%= link_to 'delete', post_path(post), :class=>'btn btn-danger',
                method: :delete,
                data: { confirm: 'Are you sure?' } %>

    </footer>
  </section>

<% end %>
<!-- 
<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Text</th>

  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.date %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table> -->